body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color:   rgb(117,117,117);
}

.header-text, .footer-text {
    font-family: 'Josefin Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header-text { 
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}

.header-text > p {
    padding-left: 5vw;
    padding-right: 5vw;
  
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(117,117,117);
}

.tab {
    border: 1px solid white;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    user-select: none;
    height: 50px;
}


.tab p {
    font-size: 1.25rem;
}

svg {
    width: 50%;
    height: 50%;
    color: red;
    background-color: red;
}
.tab:hover {
    background-color: rgb(214, 14, 214);
}


.tab:focus {
     background-color: lightpink;
}

.logo {
    aspect-ratio: auto;
    width: auto;
    height: 3rem;

}

.active {
    background-color: fuchsia;
}

.tab-content {
    display: none;
}

.tab-active {
    display: block;
}

.icon {
    width: auto;
    height: 2rem;
    border: 1px solid white;
    border-radius: 45%;
    padding: 5px;
    background-color: lightgrey;
    display: inline-block;
    padding: 0.5em 0.6em;
    height: 1rem;
}

.header {
     background-image: linear-gradient(to right, rgb(82, 34, 139) , rgb(33, 10, 65));   

}


div {
    display: block;
}

.body {
    margin-bottom: 30px;
    background-color: rgb(117,117,117);
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.input-info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;

}

.spacer {
    content: "";
    height: 40px;
    visibility:hidden;
}


.buttons {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    row-gap: 10px;
    margin-top: 10px;
    user-select: none;
}

.radio-buttons {
    display: flex;
    font-size: 1rem;
    gap: 20px;
    margin-top: 5px;
    padding: 1rem;
}

.buttons,
.input-info,
.radio-buttons {
    border-radius: 25%;
    display: flex;
    justify-content: center;
}

.button-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 20px;
    align-items: center;
    
}


.button {
    background-color: yellow;
    border-radius: 30%;
    padding: 1rem;
    font-size: 1.5rem;
    touch-action: manipulation;
    border-radius: 30%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
}

.button:hover {
    background-color: rgb(189, 192, 35);
}

header {
    margin-top: 20px;
}

.row { 
    display: flex;
    justify-content: center;
}

.match-info > div > input {
    width: 30%;
}

.divider {
    width: 50%;
    border-bottom: 3px solid rgb(255, 255, 255);
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(82, 34, 139) , rgb(33, 10, 65));   
    width: 100%;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgb(255, 255, 255);
    padding-left: 5vw;
    color: white;
    padding-right: 5vw;
}

.submit-button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: burlywood;
    font-size: 1.5rem;
}

.submit-button:hover {
    background-color:aqua;
}


